<!DOCTYPE html>
<html>

<head>
    <style>
      .main_body {
        width: 100%
      }

      .section {
        margin: 0 auto !important;
        width: 800px;
        border-collapse: collapse;
        font-family: Arial;
        font-size: 14px;
      }

      .section-table-td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
      }

      .section-table-td-label{
        width: 120px !important;
      }

      .section-footer {
        background: none;
        text-align: center;
        border-top: 1px solid #dddddd;
        font-size: 12px;
      }

      .section-footer-td {
        padding-top: 50px;
        padding-bottom: 50px;
        color: #808080;
      }

      .section-header {
        background: none !important;
      }

      .section-header-td {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .list {
        padding: 10px;
      }

      .indented {
        margin-left: 12px;
      }

      .indented-2 {
        margin-left: 18px;
      }
    </style>
</head>

<table class="main_body">
    <tbody>
    <tr>
        <td>
            <table class="section section-header">
                <tbody>
                <tr>
                    <td class="section-header-td">
                        <%= typeof notificationDescription !== 'undefined' ? notificationDescription : "" %>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="section section-table">
                <tbody>

                <% if (typeof notificationId !== 'undefined') { %>
                    <tr class="section-table-td">
                        <td class="section-table-td section-table-td-label">Notification ID</td>
                        <td class="section-table-td"><%= notificationId %></td>
                    </tr>
                <% } %>

                <% if(typeof region !== 'undefined'){ %>
                    <tr class="section-table-td">
                        <td class="section-table-td"> Region</td>
                        <td class="section-table-td"><%= region %> </td>
                    </tr>
                <% }%>

                <% if(typeof domainName !== 'undefined'){ %>
                    <tr class="section-table-td">
                        <td class="section-table-td"> Domain</td>
                        <td class="section-table-td"><%= domainName %> </td>
                    </tr>
                <% }%>

                <% if(typeof productName !== 'undefined'){ %>
                    <tr class="section-table-td">
                        <td class="section-table-td"> Product</td>
                        <td class="section-table-td"><%= productName %> </td>
                    </tr>
                <% }%>

                <% if(typeof severity !== 'undefined'){ %>
                    <tr class="section-table-td">
                        <td class="section-table-td"> Severity</td>
                        <td class="section-table-td"><%= severity %> </td>
                    </tr>
                <% }%>

                <% if(typeof issue !== 'undefined'){ %>
                    <tr class="section-table-td">
                        <td class="section-table-td"> Issue</td>
                        <td class="section-table-td">
                            <% if (Object.keys(issue).includes('Users')) { %>
                                <% Object.keys(issue).forEach(function(key) { %>
                                    <% if (key === 'Users' && Array.isArray(issue[key])) { %>
                                        <div class='list'>
                                            <% issue[key].forEach(function(user) { %>
                                                <span><%= user.username %>&apos;s cost: <%= user.totalCost %></span><br>
                                            <% }) %>
                                        </div>
                                    <% } else if (key === 'clusters' && Array.isArray(issue[key])) { %>
                                        <div class="list">
                                            <% issue[key].forEach(function(cluster, index) { %>
                                                <div>
                                                    <strong>Cluster <%= index + 1 %>:</strong><br>
                                                    <span class="indented">Name: <%= cluster.ClusterName || 'N/A' %></span><br>
                                                    <span class="indented">Discovered At: <%= cluster['Discovered At'] || 'N/A' %></span>
                                                </div>
                                                <% if (index < issue[key].length - 1) { %><br><% } %>
                                            <% }) %>
                                        </div>
                                    <% } else { %>
                                        <div><span> <%= key %> : </span> <%= issue[key] %></div>
                                    <% } %>
                                <%}) %>
                            <% } else { %>
                                    <% Object.keys(issue).forEach(function(key) { %>
                                        <% if (key === 'clusters' && Array.isArray(issue[key])) { %>
                                            <div class="list">
                                                <% issue[key].forEach(function(cluster, index) { %>
                                                    <div>
                                                        <strong><%= cluster.clusterName %>:</strong><br>
                                                        <span class="indented">Total Cost: <%= cluster.totalCost %></span><br>
                                                        <span class="indented-2">Compile Cost: <%= cluster.compileCost %></span><br>
                                                        <span class="indented-2">Execute Cost: <%= cluster.executeCost %></span><br>
                                                        <span class="indented-2">File Access Cost: <%= cluster.fileAccessCost %></span><br>
                                                        <span class="indented">Discovered At: <%= cluster['Discovered At'] || 'N/A' %></span>
                                                    </div>
                                                    <% if (index < issue[key].length - 1) { %><br><% } %>
                                                <% }) %>
                                            </div>
                                        <% } else { %>
                                            <div><span> <%= key %> : </span> <%= issue[key] %></div>
                                        <% } %>
                                    <%}) %>
                            <% } %>
                        </td>
                    </tr>

                    <% if(typeof remedy !== 'undefined'){ %>
                        <tr class="section-table-td">
                            <td class="section-table-td"> Remedy</td>
                            <td class="section-table-td">
                                <% Object.keys(remedy).forEach(function(key) { %>
                                    <div><span> <%= key %> : </span> <%= remedy[key] %></div>
                                <%}) %>
                            </td>
                        </tr>
                    <% }%>
                <% }%>
                </tbody>
            </table>
            <table class="section section-footer">
                <tbody>
                <tr>
                    <td class="section-footer-td">
                        This notification is sent by Tombolo because your email address is included in the cost monitoring notification recipient list. If you wish to stop receiving these alerts, please contact your Tombolo administrator.
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</html>