<!DOCTYPE html>
<html>

<head>
  <style>
    .main_body {
      width: 100%
    }

    .section {
      margin: 0 auto !important;
      width: 800px;
      border-collapse: collapse;
      font-family: Arial;
      font-size: 14px;
    }

    .section-table-td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 5px;
    }

    .section-table-td-label{
      width: 120px !important;
    }

    .section-footer {
      background: none;
      border-top: 1px solid #dddddd;
      font-size: 12px;
    }

    .section-footer-td {
      padding-top: 50px;
      padding-bottom: 50px;
      color: #808080;
    }

    .section-header {
      background: none !important;
    }

    .section-header-td {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .list {
      padding: 10px;
    }
  </style>
</head>

<table class="main_body">
  <tbody>
    <tr>
      <td>
        <table class="section section-header">
          <tbody>
            <tr>
              <td class="section-header-td">
                <%= typeof notificationDescription !== 'undefined' ? notificationDescription : ""  %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="section section-table">
          <tbody>

            <% if (typeof notificationId !== 'undefined') { %>
            <tr class="section-table-td">
              <td class="section-table-td section-table-td-label">Notification ID</td>
              <td class="section-table-td"><%= notificationId %></td>
            </tr>
            <% } %>

            <% if(typeof region !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Region</td>
              <td class="section-table-td"><%= region %> </td>
            </tr>
            <% }%>

            <% if(typeof domain !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Domain</td>
              <td class="section-table-td"><%= domain %> </td>
            </tr>
            <% }%>

            <% if(typeof product !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Product</td>
              <td class="section-table-td"><%= product %> </td>
            </tr>
            <% }%>

            <% if(typeof wuId !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> WUID</td>
              <td class="section-table-td"><%= wuId %> </td>
            </tr>
            <% }%>


            <% if(typeof severity !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Severity</td>
              <td class="section-table-td"><%= severity %> </td>
            </tr>
            <% }%>

            <% if(typeof remedy !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Issue</td>
              <td class="section-table-td">
                <% Object.keys(issue).forEach(function(key) { %>
                <div><span> <%= key %> : </span> <%= issue[key] %></div>
                <%}) %>
              </td>
            </tr>
            <% }%>

            <% if(typeof remedy !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Remedy</td>
              <td class="section-table-td">
                <% Object.keys(remedy).forEach(function(key) { %>
                <div><span> <%= key %> : </span> <%= remedy[key] %></div>
                <%}) %>
              </td>
            </tr>
            <% }%>

            <% if(typeof firstLogged !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> First Logged</td>
              <td class="section-table-td"><%= firstLogged %> </td>
            </tr>
            <% }%>

            <% if(typeof lastLogged !== 'undefined'){ %>
            <tr class="section-table-td">
              <td class="section-table-td"> Last Logged</td>
              <td class="section-table-td"><%= lastLogged %> </td>
            </tr>
            <% }%>
          </tbody>
        </table>
        <table class="section section-footer">
          <tbody>
            <tr>
              <td class="section-footer-td">
                This notification is sent by Tombolo because your email address is included in the job monitoring notification recipient list. If you wish to stop receiving these alerts, please contact your Tombolo administrator.
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

</html>